{% extends "base.html.twig" %}
{% block title %}Payez votre commande
{% endblock %}

{% block body %}
	<h1>Paiment de votre commande</h1>

	<form id="payment-form">
		<div
			id="payment-element"><!--Stripe.js injects the Payment Element-->
		</div>
		<button id="submit" class="btn btn-success">
			<div class="spinner hidden" id="spinner"></div>
			<span id="button-text">Payer</span>
		</button>
		<div id="payment-message" class="hidden"></div>
	</form>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		const stripePublicKey = '{{ stripePublicKey }}';
const redirectAfterSuccessUrl = "{{ url('purchase_payment_success', {'id': purchase.id}) }}";
const paymentStripeUrl = "{{ url('purchase_payment_check', {'id': purchase.id}) }}";
	</script>
	<script src="/js/payment.js"></script>
{% endblock %}
